<div class="tj-bg" aria-hidden="true">
    <div class="tj-bg__base" data-depth="0.04"></div>
    <div class="tj-bg__paper" data-depth="0.06"></div>

    <div class="tj-bg__map" data-depth="0.11">
        <img class="tj-bg__map-img" src="assets/images/backgrounds/world.svg" alt="" />
    </div>

    <div class="tj-bg__routes" data-depth="0.14">
        <img class="tj-bg__routes-img" src="assets/animations/route-line.svg" alt="" />
    </div>

    <div class="tj-bg__clouds" data-depth="0.16">
        <img class="tj-bg__cloud tj-bg__cloud--a" src="assets/images/icons/cloud.svg" alt="" />
        <img class="tj-bg__cloud tj-bg__cloud--b" src="assets/images/icons/cloud.svg" alt="" />
        <img class="tj-bg__cloud tj-bg__cloud--c" src="assets/images/icons/cloud.svg" alt="" />
    </div>

    <div class="tj-bg__planes" data-depth="0.22">
        <img class="tj-bg__plane tj-bg__plane--a" src="assets/images/icons/plane.svg" alt="" />
        <img class="tj-bg__plane tj-bg__plane--b" src="assets/images/icons/plane.svg" alt="" />
    </div>
</div>